@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --h1: #4E5150;
    --subtitle: #333333;
    --label: #4F4F4F;
    --placeholder: #828282;
    --button: #F2994A;
    --background: #F2F2F2;
    --plus: #E0E0E0;
    --lines: #BDBDBD;
}

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Montserrat;
    font-weight: 600;
}

body {
    height: 100vh;
}

h1 {
    margin-left: 18.5%;
    font-size: 36px;
    color: var(--h1);
    margin-top: 64px;
}

.container {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.form {
    .contact-info, .shipping-address {

        h3 {
            font-size: 18px;
            color: var(--subtitle);
            padding: 50px 0 14px 0;
        }

        form {
            color: var(--label);

            p {
                font-size: 12px;
                padding-bottom: 6px;
            }

            .input {
                input {
                    border: none;
                }
                display: flex;
                border: 1px solid var(--placeholder);
                border-radius: 12px;
                padding: 18px 0 18px 10px;
                align-content: center;
                width: 400px;
                margin-bottom: 15px;

                i {
                    padding-right: 5px;
                }
            }

            .country-postal {
                display: flex;
            }

            .input-medium {
                input {
                    border: none;
                }
                display: flex;
                border: 1px solid var(--placeholder);
                border-radius: 12px;
                padding: 18px 0 18px 10px;
                align-content: center;
                width: 170px;
                margin-right: 48px;
                i {
                    padding-right: 5px;
                }
            }

            .checkbox {
                display: flex;
                padding-top: 20px;
                p {
                    margin-left: 10px;
                }
            }

            button {
                background: var(--button);
                color: white;
                width: 166px;
                padding: 17px 0;
                border: none;
                border-radius: 12px;
                margin-top: 20px;
                margin-left: 250px;
            }
        }
    }
}

.items {
    width: 383px;
    height: 535px;
    background: var(--background);
    border-radius: 12px;
    margin-top: 50px;

    img {
        width: 134.21px;
        height: 136.27px;
        border-radius: 13px;
        margin: 33px 0 31px 29px;
    }

    .item1, .item2 {
        height: 200px;
        overflow-y: hidden;

        h4 {
            margin-left: 190px;
            margin-top: -170px;
            color: var(--h1);
            font-size: 16px;
            padding-bottom: 10px;
        }

        .price {
            margin-left: 190px;
            color: var(--button);

            span {
                text-decoration: line-through;
                color: var(--h1);
                font-size: 12px;
                margin-left: 10px;
            }
        }

        .amount {
            color: var(--subtitle);
            display: flex;
            margin-left: 190px;
            border: 1px solid var(--placeholder);
            border-radius: 12px;
            width: 80px;
            height: 40px;
            margin-top: 40px;
            padding: 0 10px 0 10px;
            align-items: center;
            justify-content: space-between;

            .less {
                background-color: #E0E0E0;
                padding: 0 5px;
                border-radius: 3px;
            }

            .plus {
                background: #E0E0E0;
                padding: 0 4px;
                border-radius: 3px;
            }
        }
    }
    
    .shipping, .total {
        color: #333333;
        border-top: 1px solid var(--placeholder);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
        width: 320px;
        margin-left: 30px;
        margin-top: 20px;

        h3 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }
    }
}

footer {
    color: #BDBDBD;
    font-size: 14px;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 20px;
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 24px;
        margin: 32px 0 0 18px;
    }

    .container {
        flex-direction: column;

        .items {
            overflow-y: hidden;
            width: 350px;
            height: 489px;
            margin-left: 5px;

            img {
                width: 122.75px;
                height: 124.64px;
                margin: 30px 0 28px 26px;
            }

            .item1, .item2 {
                height: 180px;

                h4 {
                    font-size: 12px;
                    margin-top: -150px;
                }

                .price {
                    font-size: 14px;

                    span {
                        font-size: 10px;
                    }
                }

                .amount {
                    width: 78px;
                    height: 37px;
                    margin-top: 37px;
                }
            }

            .shipping, .total {
                width: 299px;
                margin-left: 25px;

                h3 {
                    font-size: 14px;
                }
            }
        }

        .form {
            .contact-info, .shipping-address {
                margin-left: 13px;

                h3 {
                    font-size: 14px;
                }

                form {
                    p {
                        font-size: 10px;
                    }

                    .input {
                        width: 320px;
                        
                        input {
                            font-size: 12px;
                        }
                    }

                    .input-medium {
                        width: 150px;
                        margin-right: 10px;

                        input {
                            font-size: 12px;
                        }
                    }
                }

                button {
                    margin-left: 170px;
                }
            }
        }
    }
}